[mysql]

skip-innodb
table_open_cache = 2000
key_buffer_size = 1M
innodb_log_file_size =16M
open_files_limit=100

server-id = 1001
log-bin
expire_logs_days = 3 #バイナリログファイルのローテート日数
bind-address            = 0.0.0.0
