[mysqld]

key_buffer_size = 1000 # インデックスブロックに使用されるバッファメモリの最大値。
innodb_log_file_size =16M # InnoDBの更新ログサイズ。commit履歴を記録する。大きすぎると容量が増えるため制限。
innodb_file_per_table=1 # テーブルごとにファイルを作る設定。1はON。分割することでテーブルごとの更新影響を分ける。
table_open_cache = 524208 # 同時にオープンできるテーブル数。
query_cache_limit=160M # クエリキャッシュ最大サイズ
query-cache-size=0 # クエリキャッシュで使用するメモリサイズ
query_cache_type=0 # クエリキャッシュのタイプ。0はOFF。

slow_query_log=ON # スロークエリの出力設定
long_query_time = 3 # スロークエリと判定する秒数
slow_query_log_file = /tmp/mysql-slow.log # クエリログの出力場所

server-id = 1001
log-bin
expire_logs_days = 3 #バイナリログファイルのローテート日数
bind-address            = 0.0.0.0
